DAILY_SAMPLE_ROOM_URL=optional_sample_room_url
DAILY_API_KEY=your_daily_api_key_here
DAILY_API_URL=https://api.daily.co/v1
DEEPGRAM_API_KEY=
OPENAI_API_KEY=your_openai_api_key_here
GOOGLE_API_KEY
CARTESIA_API_KEY=your_cartesia_api_key_here
DIAL_IN_FROM_NUMBER=
DIAL_OUT_TO_NUMBER=
OPERATOR_NUMBER=